* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* utility classes */
.container {
    max-width: 980px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

    /* background colors classes */
.bg-grey {
    background-color: #d3d3d3;
}

.bg-darkgrey {
    background-color: #23272a;
}

.bg-blue {
    background-color: #00008b;
}


    /* 12 column layout classes */
.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}

.col-12 {
    flex-basis: 100%;
}

/* main content */
.section {
    padding: 30px 0;
}


/* debug selectors */

/* .debug .container {
    border-right: 2px solid black;
    border-left: 2px solid black;
} */

.debug nav {
    background-color: darkgoldenrod;
}

.debug nav > .row {
    padding: 5px;
}

.debug .row {
    border: 3px dashed rgb(17, 248, 0);
}

.debug .col {
    border: 2px dotted red;
}

.debug .page-header {
    background-color: aqua;
    padding: 10px 0;
}

.debug .main-content .col {
    min-height: 400px;
    background-color: pink;
}

.debug .col.col-7 {
    background-color: cyan;
}

.debug .col.col-12 {
    background-color: green;
    min-height: 500px;
}

.debug .main-footer .col {
    min-height: 400px;
}

.debug .main-footer {
    padding: 5px 0 20px 0;
    border-bottom: 2px solid white;
}

.debug .main-footer .row {
    background-color:darkcyan;
}

.debug .main-footer .col:first-child {
    background-color: darksalmon;
}

.debug .footer-bar {
    padding-top: 15px;
}

.debug .footer-bar .row {
    padding: 20px 0;
    background-color:aquamarine;
}

.debug .footer-bar .row > .col {
    padding: 3px 10px;
    background-color: rgb(252, 190, 183);
}